.btnAdd {
    text-align: right;
    width: 83%;
 
  }
  #example_length{
    margin-top: 10px;
  }
  input[type='number'] {
  -moz-appearance:textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  }
  .datumi{
    text-align: center;
  }
  #datum_od{
    margin-right: 10px;
  }
  #filter{
      margin: 10px;
  }
  .filters{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-left: 229px;
    margin-right: 150px;
  }
  .datumi span{
    width: auto;
    text-align: center;
    margin: auto;
    margin-right: 5rem;
  
    margin-left: 0;
  }
  .ime_radnika{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
  .ime_radnika_label{
    
    margin-left: 3.5rem;
  }
.select2.select2-container.select2-container--default.select2-container--below{
    width: 260px;
  }
  .select2-container .select2-selection--single .select2-selection__rendered{
    padding-right: 0px;
    margin-left: 0rem;
  }

  span.select2-dropdown.select2-dropdown--below{
    width: 173px !important;
    text-align: center;
  }