.btnAdd {
    text-align: right;
    width: 83%;
 
  }
  #example_length{
    margin-top: 10px;
  }
  input[type='number'] {
  -moz-appearance:textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  }
  .datumi{
    text-align: center;
  }
  #datum_od{
    margin-right: 10px;
  }
  #filter{
      margin: 10px;
  }
  .filters{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }
  .datumi span{
    width: auto;
    text-align: center;
    margin: auto;
    margin-right: 5rem;
  
    margin-left: 0;
  }
  .ime_radnika{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
  .ime_radnika_label{
    
    margin-left: 8rem;
  }
